<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender</title>
</head>
<body>
    <h1>Welcome to the Movie Recommender System</h1>
    <form action="/recommend" method="post">
        <label for="movie_name">Choose a movie:</label>
        <select name="movie_name" required>
            {% for movie in movies %}
            <option value="{{ movie }}">{{ movie }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="num_recommendations">Number of recommendations:</label>
        <input type="number" name="num_recommendations" min="1" max="20" value="5">
        <br><br>
        <input type="submit" value="Get Recommendations">
    </form>
</body>
</html>
