{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Personalized Recommendations for User {{ user_id }}</h1>

<h3>Movies You Liked:</h3>
<div class="row">
    {% for movie in liked_movies %}
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="card">
            <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }} poster">
            <div class="card-body text-center">
                <h5 class="card-title">{{ movie.title }}</h5>
                <a href="{{ url_for('similar_movies', movie_name=movie.title) }}" class="btn btn-primary btn-sm">Find Similar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Movies You Didn't Like:</h3>
<div class="row">
    {% for movie in disliked_movies %}
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="card">
            <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }} poster">
            <div class="card-body text-center">
                <h5 class="card-title">{{ movie.title }}</h5>
                <a href="{{ url_for('similar_movies', movie_name=movie.title) }}" class="btn btn-secondary btn-sm">Find Similar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Recommended Movies You Might Like:</h3>
<div class="row">
    {% for movie in recommendations %}
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="card">
            <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }} poster">
            <div class="card-body text-center">
                <h5 class="card-title">{{ movie.title }}</h5>
                <a href="{{ url_for('similar_movies', movie_name=movie.title) }}" class="btn btn-success btn-sm">Find Similar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<a href="{{ url_for('home') }}" class="btn btn-link">Back to Home</a>
{% endblock %}
