<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendations for {{ movie_name }}</title>
</head>
<body>
    <h1>Recommendations for "{{ movie_name }}"</h1>
    
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <ul>
            {% for movie in recommendations %}
            <li><a href="{{ url_for('similar_movies', movie_name=movie) }}">{{ movie }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <a href="/">Back to Home</a>
</body>
</html>
