<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Personalized Recommendations</title>
    <style>
        /* Add styling for movie posters */
        .movie {
            display: inline-block;
            margin: 10px;
            text-align: center;
        }
        .movie img {
            width: 150px;
            height: 225px;
        }
    </style>
</head>
<body>
    <h1>Your Personalized Recommendations</h1>
    <div class="movies">
        {% for movie in recommendations %}
        <div class="movie">
            <a href="{{ url_for('similar_movies', movie_name=movie.title) }}">
                <img src="{{ movie.poster_url }}" alt="{{ movie.title }} poster">
                <p>{{ movie.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <br>
    <a href="{{ url_for('rate_movies') }}">Rate More Movies</a> | <a href="/">Back to Home</a>
</body>
</html>
