{% extends "base.html" %}
{% block content %}
<h1>Movies Similar to "{{ movie_name }}"</h1>

<div class="row">
    {% for movie in recommendations %}
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="card">
            <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }} poster">
            <div class="card-body text-center">
                <h5 class="card-title">{{ movie.title }}</h5>
                <a href="{{ url_for('similar_movies', movie_name=movie.title) }}" class="btn btn-primary btn-sm">Find Similar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<a href="{{ url_for('home') }}" class="btn btn-link">Back to Home</a>
{% endblock %}
